*
{
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
body
{
    background: url(img/bg.png) no-repeat 50% 0% #0e0e0e;
    font:12px/1.67 Arial, Helvetica, sans-serif;
    padding: 40px 0;
}
.wrapper
{
    width: 960px;
    margin: 0 auto;
}
            /*HEADER BEGIN*/
header
{
    background: #fff;
    height: 97px;
    -o-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
}
header h1
{
    float: left;
    margin: 30px 0 0 40px;
}
.tel
{
    background: url(img/bg_tel.png) repeat-x 0 0;
    padding: 3px 27px 3px 90px;
    font-size: 18px;
    font-weight: bold;
    color:#c0c0c0;
    float:right;
}
nav
{
    float: right;
    clear: right;
}
nav li
{
    float: right;
    margin: 20px 30px 0 5px;
}
nav li a
{
   color:#808080; 
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 15px;
}
nav li a:hover
{
    background: url(img/bg_li_current.gif) repeat-x 0 0;
    
    border-radius: 4px;
    color:#fff;
}
            
nav li.current a
{
    background: url(img/bg_li_current.gif) repeat-x 0 0;
    border: 1px solid #00224b;
    border-radius: 4px;
    color:#fff;
}


                /*HEADER END*/
@font-face{
    font-family:Treb;
        src:url(fonts/tref.ttf);

}

.slider-block{
    background: url(img/slider-block.png) no-repeat 0 0;
    height: 332px;
    padding: 85px 50px 0;
    color: #fff;
    font-size:29px;
    font-family: "Trebuchet MS";
    line-height: 34px; 
    box-sizing: border-box;
}
.fs35{
    font-size: 35px;
    font-style: bold;
    text-transform: uppercase;
    margin: 10px 0 35px;
    letter-spacing: -2px;
}

        /*SLIDER BEGIN*/
.flexslider {
  
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    float: right;
    width: 396px;
    height: 268px;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
    width: 396px;
    height: 268px;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
 
}
.flex-direction-nav .flex-prev {
  left: -50px;
  text-indent: 9999px;
    background: url(img/arrow2.png) no-repeat 0 0;
    
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-indent: 9999px;
    background: url(img/arrow1.png) no-repeat 0 0;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
     
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
     
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  
}
.flex-control-nav {
  
  position: absolute;
  top: -25px;
  right: 10px;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

        /*SLIDER END*/
.started
{background: url(img/r.png) no-repeat 95% 50%  ,url(img/bg_started.gif) repeat-x 0 0;
font-size: 20px;
    color:#b90016;
    text-transform: uppercase;
    padding: 11px 50px 11px 25px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-weight: bold;
}

.blurbs
{
    
    background: #ededed;
    padding: 35px 0 0px 50px;
    height: 123px;
    border-bottom: 1px solid #cecece;
}
.blurbs li
{
    float: left;
    padding: 12px 0 12px 90px;
 width: 150px;
 margin-right: 74px;
}

.blurbs li:last-child{
 margin-right: 0;
}
.blurbs h3
{
    font-size: 15px;
    color:#575757;
}

.blurbs li.money
{background: url(img/money.png) no-repeat 0 50%;}
.blurbs li.clock
{background: url(img/clock.png) no-repeat 0 50%;}
.blurbs li.tel_icon
{background: url(img/tel.png) no-repeat 0 50%;
font-size: 12px;}

.middle_block{
    height: 500px;
    background: #fff;
    padding: 40px 0 30px 40px;
}
.middle_block li{
    float: left;
    width: 265px;
    margin-right: 45px;
}
.middle_block li:last-child{
 margin-right: 0;   
}
.middle_block h2
{
    font-size: 25px;
    color:#585858;
    margin-bottom: 24px;
}

    @font-face{
    font-family:Nevis;
        src:url(fonts/nevis.ttf);
}
.middle_block p{
    margin: 22px 0;
    font-size:10pt;
    
    font-family: Arial;
}
.middle_block a.read_more{
   text-transform: uppercase;
    font-family: Nevis;
    color:#6c6c6c;
    padding: 8px 12px 8px 12px;
   
    
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to top, #e5e5e5,#fefefe);
    
}
.middle_block a.read_more:hover{
    background-image: linear-gradient(to top,#fefefe,#e5e5e5);
}
.design
{
    list-style-image: url(img/right_arr.png);
    list-style-position: inside;
    
}
.design li
{
  border-bottom: 1px dotted #848484;  
    padding: 5px 0;
}
.design li:last-child
{
  border-bottom: none;  
}
.design a{
    color:#0f4db6;
    
}

        /*FOOTER DEGIN*/
footer{
    background:url(img/bg_top_footer.gif) repeat-x #ededed;
    -o-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px; 
}
.top-footer{
    border-bottom: 1px solid #ccc;
    padding: 25px 0 10px 41px;
}
.top-footer > li{
    float: left;
}
.top-footer h3
{
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bold;
    color:#585858;
}
.browse-site{
    width: 120px;
    
}
.brows-site a{
    color:#4f4f4f;
}

.our-test{
    width: 315px;
    margin: 0 60px 0 115px;
    
}
.our-test .bold{
    color:#000;
    font-weight: bold;
    
}
.our-blog{
    width: 290px;
    line-height: 15px;
    
    
    
}
.our-blog .blue
{
    color:#0f4db6;
    font-weight: bold;
}
.date{
    margin-top: 16px;
}
.bottom-footer{
    padding: 25px 41px 26px 41px;
    border-top: 1px solid #fff;
}
.bottom-footer .logo
{
    float: right;
}
.social{
    float: right;
    margin-right: 73px;
}
.social li{
    float: left;
    margin-right: 15px;
    
}
.social a{
    display: block;
    width: 16px;
    height: 16px;
    background: url(img/sprites.png) no-repeat 0 0;
        
}
.social a.in
{
    background-position: -16px 0;
}
.social a.f
{
    background-position: -32px 0;
}


        /*FOOTER END*/

       /*ABOUT-MAIN BEGIN*/
.page-block
{
   background: url(img/bg-about-block.png) no-repeat 0 0;
    border-top: 1px solid #1954bc;
    height: 83px;
     color:#fff;
    
}
.page-block p
{
    padding: 21px 41px;
    line-height: 40px;
    float: right;
    font-size: 20px;
    font-style: italic;
    
  
    
}
.page-block h2
{
    padding: 21px 41px;
    float: left;
    font-size: 25px;
   
}
.main-block
{
    padding-bottom: 70px;
    background: url(img/side-block-grad.gif) repeat-y 700px 0 #fff;
    
}
main
{
    width: 621px;
    margin-left: 41px;
   float: left;
}
main p{
    padding-top: 40px;
    line-height: 24px;
}
.side-bar
{
    width: 219px;
    float: right;
    margin-right:41px;
}

.side-bar h3{
    padding-left: 22px;
    color:#000;
    font-style: bold;
    font-size: 15px;
    background-image: linear-gradient(to right, #cfcfcf,#fff);
    margin-top: 39px;
}
.side-bar li
{
    margin-left: 22px;
}
.side-bar li:first-child
{
    margin-top: 20px;
}
 /*ABOUT-MAIN END*/

.bg-servises-top{
    background: url(img/bg-servises-line.gif) repeat-x #fff;
}
 .flright
{
    
    margin-left: 50px;
    
}

.benefits{
    background: url(img/bg-servises-line.gif) repeat-x #fff;
  padding: 25px 0 50px 41px;
    max-height: 365px;
}
.benefits h2
{
   font-size: 25px;
    color:#585858;
    margin-bottom: 36px;
}

.benefits ul li{
  width: 340px;
   background: url(img/benefits-arrow.png) no-repeat 0 12px;
    padding-left:45px;
    margin: 0 80px 40px 0px;  
    float: left;
}
.benefits ul li:nth-child(even)
{
    margin-right: 0;
}
.benefits ul li:nth-child(6)
{
    
    margin-bottom: 0;
}
.benefits ul li:nth-child(5)
{  
    margin-bottom: 0;
   
}
h2 sub
{
    font-size: 15px;
   letter-spacing: -0.6px;
}
.ls
{
 letter-spacing: -0.6px;   
}




.middle_block_port{
   height: 220px;
    background: #fff;
    padding: 40px 0 0 40px;
}
.middle_block_port li{
    float: left;
    width: 265px;
    margin-right: 45px;
    
}
.middle_block_port li:last-child{
 margin-right: 0;   
}
.middle_block_port li h3
{
    font-size:15px;
    line-height: 20px;
    color:#4f4f4f;
}
.page-block li{
    float:right;
    padding: 34px 40px 0 0;
}
.page-block li a{
    color: #93daff;
    font-size: 13px;}
.page-block li:last-child a{
    color: #fff;
}
.page-block-bottom{
    background: url(img/bg-servises-line.gif) repeat-x 0 0 #fff;
}
.page-block-bottom li
{
    float: left;
    padding: 22px 10px 30px 0px;
}
.page-block-bottom li:first-child{
    padding-left: 41px;
}
.page-block-bottom li a
{
    color:#0f4db6;
    font-size: 13px;
}



/*contact begin*/
form{
    width: 385px;
}
label{
    font-size: 13px;
    color:#4f4f4f;
}
input[type=text],textarea
{
    width: 100%;
     background: url(img/bg-servises-line.gif) repeat-x 0 0 #fff;
    border:1px solid #c9c9c9;
    -o-border-radius: 3px;
    -moz-border-radius:  3px;
    -webkit-border-radius:  3px;
    border-radius:  3px;
    padding: 8px 3px;
    resize: none
}
input[type=submit]
{
   text-transform: uppercase;
    font-family: Nevis;
    color:#6c6c6c;
    padding: 8px 26px 8px 26px;
   margin-top: 17px;
    
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to top, #e5e5e5,#fefefe);
}
input[type=submit]:hover
{
  background-image: linear-gradient(to top,#fefefe, #e5e5e5);  
}
.side-bar a
{
    color:#4f4f4f;
}





.social2 li{
   display: inline-block;
    
    
}
.social2 a{
    display: block;
    width: 30px;
    height: 30px;
    background: url(img/sprites2.png) no-repeat 0 0;
        
}
.social2 a.t2
{
    background-position: 0 0;
}
.social2 a.in2
{
    background-position: -30px 0;
}
.social2 a.f2
{
    background-position: -60px 0;
}
/*contact end*/
/*clearfix*/

.blurbs:after,.top-footer:after, .main-block:after, .benefits:after,.page-block-bottom:after{
 content: "";
 display: table;
 clear: both;
}